<div class="container-fluid section-start created" >

    <div class="form-align">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: 'middle-screen' }) do |f| %>

      <%= devise_error_messages! %>

      <h2 class='middle-screen'>Forgot your password?</h2>

      <div class="field form-group">
        <!--<%= f.label :email %><br />-->
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control',placeholder: 'Email' %>
      </div>

      <div class="actions">
        <%= f.submit "Send me reset password instructions", class: 'btn btn-primary btn-block'  %>
      </div>
    <% end %>
  </div>
    <%= render "devise/shared/links" %>
</div>
